.navbar-default {
    background: #45cde6;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.error {
    color: red;
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bankName {
    text-align: center;
    background-color: #45cde6;
}

form {
    margin-top: 25px;
    margin-bottom: 25px;
}

#signin {
    margin-top: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#background {
    background-image: url("/images/loginBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.writeMe {
    width: 50%;
}

.buttons {
    width: 25%;
}

td {
    width: 50%;
/*    padding: 15%;*/
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}