<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    <title>Money For Nothing</title>
</head>
<body>
  <div>
      <div >
        <h2 id="bankName">Bienvenue à la banque Money For Nothing</h2>
      </div>


      <div >
        <img src="../../static/images/bank.png" width="30%"
             th:src="@{/images/bank.png}" />
      </div>

      <form method="get" th:action="${'/loginPage'}" th:class="text-center" >
          <input class="buttons btn btn-info " type="submit" value="Se connecter">
      </form>
  </div>
</body>
</html>