<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />

</head>
<body>
  <div>


    <div class="jumbotron jumbotron-fluid ">
      <div class="row">
        <div class="row">
          <h1 id="bankName">Bienvenue à la banque Money For Nothing</h1>
        </div>
      </div>
      <div th:align="center" class="row" >
        <form method="get" >
          <div class="row">
            <h2>Utilisateur
            </h2>
            <input id="username"/>
          </div>
          <div class="row">
            <h2>
              Mot de Passe
            </h2>
            <input id="password"/>
          </div>
          <div class="row">
            <input id="signin" type="submit" class="btn btn-success" value="Connexion">
          </div>
        </form>
      </div>

      <div class="row">
        <img src="../../static/images/bank.png" width="30%"
             th:src="@{/images/bank.png}" />
      </div>

  </div>
</body>
</html>