<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />

</head>
<body>
  <div>


    <div class="jumbotron jumbotron-fluid ">
      <div class="row">
        <div class="row">
          <h1 id="bankName">Bienvenue à la banque Money For Nothing</h1>
        </div>
      </div>
      <div class="row">
        <img src="../../static/images/bank.png" width="40%"
             th:src="@{/images/bank.png}" />

      </div>
    </div>
  </div>
</body>
</html>